/* 
Estilos para el campo de tiro
*/  

body{
  background-color: black;
}

.contenedor {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#ajustes{
 background-color:rgb(117, 73, 155);
 width: 700px;
 height: 200px;
 margin: auto;


}
#canvas {

    background-color: rgba(69, 13, 58, 0.462);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-image:url(https://i.pinimg.com/564x/96/aa/0b/96aa0b0a7eee8336ac1b0edbbeecf713.jpg);
    background-size: cover;
  }

#texto {
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(117, 73, 155);
  width: 700px;
  height: 40px;
  margin: auto;
}

#btnIniciar{
  margin-right: 10px;
}

#display{

  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  background-color: yellow;
  font-size: 21px;

}

#shin_chan{
  display: none;
}

#karlos{
  display: none;
}

.margen{
  margin: 8px;
}
